@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/fontFamily/Montserrat-Regular.eot);
  src: url(../fonts/fontFamily/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/fontFamily/Montserrat-Regular.woff2) format("woff2"), url(../fonts/fontFamily/Montserrat-Regular.woff) format("woff"), url(../fonts/fontFamily/Montserrat-Regular.ttf) format("truetype"), url(../fonts/fontFamily/Montserrat-Regular.svg#Montserrat-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/fontFamily/Montserrat-Medium.eot);
  src: url(../fonts/fontFamily/Montserrat-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/fontFamily/Montserrat-Medium.otf) format("otf"), url(../fonts/fontFamily/Montserrat-Medium.svg#Montserrat-Medium) format("svg"), url(../fonts/fontFamily/Montserrat-Medium.ttf) format("truetype"), url(../fonts/fontFamily/Montserrat-Medium.woff) format("woff"), url(../fonts/fontFamily/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/fontFamily/Montserrat-SemiBold.eot);
  src: url(../fonts/fontFamily/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/fontFamily/Montserrat-SemiBold.otf) format("otf"), url(../fonts/fontFamily/Montserrat-SemiBold.svg#Montserrat-SemiBold) format("svg"), url(../fonts/fontFamily/Montserrat-SemiBold.ttf) format("truetype"), url(../fonts/fontFamily/Montserrat-SemiBold.woff) format("woff"), url(../fonts/fontFamily/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/fontFamily/Montserrat-Bold.eot);
  src: url(../fonts/fontFamily/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/fontFamily/Montserrat-Bold.otf) format("otf"), url(../fonts/fontFamily/Montserrat-Bold.svg#Montserrat-Bold) format("svg"), url(../fonts/fontFamily/Montserrat-Bold.ttf) format("truetype"), url(../fonts/fontFamily/Montserrat-Bold.woff) format("woff"), url(../fonts/fontFamily/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../fonts/fontFamily/Montserrat-ExtraBold.eot);
  src: url(../fonts/fontFamily/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/fontFamily/Montserrat-ExtraBold.otf) format("otf"), url(../fonts/fontFamily/Montserrat-ExtraBold.svg#Montserrat-ExtraBold) format("svg"), url(../fonts/fontFamily/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/fontFamily/Montserrat-ExtraBold.woff2) format("woff2"), url(../fonts/fontFamily/Montserrat-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
/*.block__body{
    @include adativ-value('свойство(padding)', изначальное значение по макету (50), конечное значение (20), тип (0, 1, 2));
    0 - всегда будет работать,
    1 - меньше контейнера,
    2 - больше контейнера.
    padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)))
}*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after { /*браузер Mozilla Firefox*/ /*браузеры Chrome, Safari, Opera*/
  box-sizing: border-box; /*браузер Internet Explorer*/
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------------------------------------------------------------------*/
body {
  color: #000000;
  background-color: #fdfdfd;
  font-family: "Montserrat";
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  background-color: #ffffff;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.header__container {
  position: relative;
  z-index: 2;
}

.nav__block {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  font-size: 24px;
  color: inherit;
  font-weight: 600;
  border: 2px solid #93c;
  padding: 10px;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.nav__logo:hover {
  color: #93c;
}
.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 500px;
}
.nav .item__link {
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  transition: all ease 0.3s;
}
.nav .item__link:hover {
  color: #93c;
}

.page {
  height: 100%;
}

.home {
  position: relative;
  height: 100%;
  padding: 220px 0 150px 0;
}
.home::after {
  content: "";
  background-color: #f2f1ee;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.home__container {
  position: relative;
  z-index: 2;
}
.home .body-home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  row-gap: 15px;
}
.home .body-home__subtitle {
  font-size: 20px;
  color: #93c;
  font-weight: 500;
}
.home .body-home__name {
  font-size: 60px;
  font-weight: 600;
}
.home .body-home__profession {
  position: relative;
  text-align: right;
  font-size: 30px;
  font-weight: 500;
}
.home .body-home__profession span {
  color: #93c;
}
.home .body-home__text {
  font-size: 20px;
  max-width: 600px;
}

.about {
  padding: 150px 0 0 0;
  margin-bottom: 15px;
}
.about .block-about {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.about .block-about__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 650px;
}
.about .block-about__box {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: rgb(153, 51, 204);
  transition: all ease-in-out 0.5s;
}
.about .block-about__box:hover {
  position: relative;
  top: -5px;
  left: -5px;
}
.about .block-about__box::before {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid rgb(153, 51, 204);
  transition: all ease-in-out 0.5s;
}
.about .block-about__box:hover::before {
  top: 25px;
  left: 25px;
}
.about .block-about__text {
  font-size: 18px;
}
.about .block-about__items {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 300px));
  gap: 0px 10px;
}
.about .block-about__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.about .block-about__item::before {
  content: "▹";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: rgb(153, 51, 204);
  line-height: 12px;
}

.experience {
  padding: 150px 0 0 0;
}
.experience .block-experience__item {
  display: flex;
  align-items: flex-start;
}
.experience .block-experience__item:first-child {
  margin-bottom: 20px;
}
.experience .block-experience__btn {
  font-size: 20px;
  width: 150px;
  font-weight: 500;
  background-color: #fff;
}
.experience .block-experience__item-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 50px;
  row-gap: 10px;
}
.experience .block-experience__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.experience .block-experience__block-title {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 5px;
}
.experience .block-experience__block-small_data {
  font-size: 16px;
  margin-bottom: 5px;
}
.experience .block-experience__block-text {
  font-size: 18px;
}

.portfolio {
  padding: 150px 0 0 0;
}
.portfolio__items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 33.33%));
  grid-template-rows: repeat(auto-fit, minmax(150px, 250px));
  row-gap: 1.5rem;
}
.portfolio__items-grid .item-portfolio {
  padding: 0.75rem;
}
.portfolio__items-grid .item-portfolio__block {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: background-color ease 0.5s;
}
.portfolio__items-grid .item-portfolio__img img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: 100%;
  transition: transform ease 0.5s, opacity ease 0.6s;
}
.portfolio__items-grid .item-portfolio .item-portfolio__block:hover {
  background-color: rgba(153, 51, 204, 0.5);
}
.portfolio__items-grid .item-portfolio .item-portfolio__block:hover .item-portfolio__img img {
  transform: scale(1.5);
  opacity: 0;
}
.portfolio__items-grid .item-portfolio .item-portfolio__block:hover .item-portfolio__body {
  opacity: 1;
}
.portfolio__items-grid .item-portfolio__body {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.portfolio__items-grid .item-portfolio__title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.portfolio__items-grid .item-portfolio__btn {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid rgb(153, 51, 204);
  background-color: inherit;
  transition: background-color linear 0.2s;
}
.portfolio__items-grid .item-portfolio__btn a {
  color: #fff;
  font-weight: 500;
}
.portfolio__items-grid .item-portfolio__btn:hover {
  background-color: rgb(153, 51, 204);
}

.portfolio {
  padding: 150px 0 0 0;
}
.portfolio__items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 33.33%));
  grid-template-rows: repeat(auto-fit, minmax(150px, 250px));
  row-gap: 1.5rem;
}
.portfolio__items-grid .item-portfolio {
  padding: 0.75rem;
}
.portfolio__items-grid .item-portfolio__block {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: background-color ease 0.5s;
}
.portfolio__items-grid .item-portfolio__img img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: 100%;
  transition: transform ease 0.5s, opacity ease 0.6s;
}
.portfolio__items-grid .item-portfolio .item-portfolio__block:hover {
  background-color: rgba(153, 51, 204, 0.5);
}
.portfolio__items-grid .item-portfolio .item-portfolio__block:hover .item-portfolio__img img {
  transform: scale(1.5);
  opacity: 0;
}
.portfolio__items-grid .item-portfolio .item-portfolio__block:hover .item-portfolio__body {
  opacity: 1;
}
.portfolio__items-grid .item-portfolio__body {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.portfolio__items-grid .item-portfolio__title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.portfolio__items-grid .item-portfolio__btn {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid rgb(153, 51, 204);
  background-color: inherit;
  transition: background-color linear 0.2s;
}
.portfolio__items-grid .item-portfolio__btn a {
  color: #fff;
  font-weight: 500;
}
.portfolio__items-grid .item-portfolio__btn:hover {
  background-color: rgb(153, 51, 204);
}

.contact {
  padding: 150px 0 0 0;
}

.footer {
  height: 100%;
  width: 100vw;
  background-color: #f2f1ee;
}

.title-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 40px 0;
}
.title-main::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: rgba(153, 51, 204, 0.6);
}
.title-main::before {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(153, 51, 204, 0.6);
}
