.about {
    font-family: Montserrat;
    padding: 100px 0;
    text-align: left;
    &__container {
    }
    &__title {
    }
    .block-about {
        display: flex;
        align-items: center;
        column-gap: 50px;
        &__body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 15px;
            max-width: 650px;
        }
        &__box {
            position: relative;
            top: 0;
            left: 0;
            width: 250px;
            height: 250px;
            border-radius: 10px;
            background-color: rgb(153, 51, 204);
            transition: all ease-in-out 0.5s;
            &:hover {
                position: relative;
                top: -5px;
                left: -5px;
            }
            &::before {
                position: absolute;
                top: 15px;
                left: 15px;
                content: "";
                width: 250px;
                height: 250px;
                border-radius: 10px;
                border: 2px solid rgb(153, 51, 204);
                transition: all ease-in-out 0.5s;
            }
            &:hover::before {
                top: 25px;
                left: 25px;
            }
        }
        &__text {
            font-size: 16px;
        }
        &__items {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 300px));
            gap: 0px 10px;
        }
        &__item {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            &::before {
                content: "▹";
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                color: rgb(153, 51, 204, 1);
                line-height: 12px;
            }
        }
    }
}
