.about {
    margin-bottom: 15px;
    &__container {
    }
    &__title {
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all ease 0.6s 1.2s;
    }
    @media (max-width: ($md2 + px)) {
        &__title {
            transition: all ease 0.6s;   
        }
    }
    &__title._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    .block-about {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 45px;
        &__body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 650px;
            transform: translate(-120%, 0px);
            opacity: 0;
            transition: all ease 0.6s 1.4s;
        }
        @media (max-width: ($md2 + px)) {
            &__body {
                transition: all ease 0.6s;   
            }
        }
        &__body._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
        &__box {
            position: relative;
            top: 0;
            left: 0;
            width: 250px;
            height: 250px;
            border-radius: 10px;
            background-color: rgb(153, 51, 204);
            transform: translate(120%, 0px);
            opacity: 0;
            transition: transform ease 0.6s 1.4s, opacity ease 0.6s 1.4s;
            &::before {
                position: absolute;
                top: 15px;
                left: 15px;
                content: "";
                width: 250px;
                height: 250px;
                border-radius: 10px;
                border: 2px solid rgb(153, 51, 204);
            }
        }
        @media (max-width: ($md2 + px)) {
            &__box {
                display: none;
            }
        }
        &__box._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
        &__text {
            font-size: 18px;
        }
        &__items {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 1fr));
            gap: 0px 10px;
        }
        &__item {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            &::before {
                content: "▹";
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                color: rgb(153, 51, 204, 1);
                line-height: 12px;
            }
        }
    }
}
