.experience {
    padding: 150px 0 0 0;
    &__container{
    }
    &__title {
    }
    .block-experience {
        &__items {
        }
        &__item {
            display: flex;
            align-items: flex-start;
            &:first-child {
                margin-bottom: 20px;
            }
        }
        &__btn {
            font-size: 20px;
            width: 150px;
            font-weight: 500;
            background-color: #fff;
        }
        &__item-body {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-left: 50px;
            row-gap: 10px;
        }
        &__block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        &__block-title {
            font-size: 20px;
            color: #000;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &__block-small_data {
            font-size: 16px;
            margin-bottom: 5px;
        }
        &__block-text{
            font-size: 18px;
        }
    }
}
