.footer {
    min-height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 50px 0 0 0;
    svg {
        width: 100%;
        overflow: visible;
        #wave1 {
            animation-duration: 14s;
            opacity: 0.3;
        }
        #wave2 {
            animation-duration: 10s;
            animation-direction: reverse;
            opacity: 0.6;
        }
        .wave {
            animation: wave 3s linear;
            animation-iteration-count: infinite;
        }
        @keyframes wave {
            100% {
                transform: translate(-100%);
            }
        }
    }
    &__container {
        position: relative;
        z-index: 2;
        .footer-nav {
            display: none;
        }
        @media (max-width: (1400px)) {
            .footer-nav {
                display: block;
                transform: translate(0px, 120%);
                opacity: 0;
                transition: all ease 0.6s;
                &__items {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 20px;
                    &::after,
                    &::before {
                        content: "";
                        width: 140px;
                        height: 2px;
                        background-color: rgb(153, 51, 204, 0.8);
                    }
                }
                &__item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 10px;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        padding: 8px;
                        color: #ffffff;
                        border-radius: 50%;
                        background-color: rgb(153, 51, 204, 0.8);
                        transition: all ease 0.2s;
                        &:hover {
                            background-color: rgb(153, 51, 204, 1);
                            box-shadow: 0 0 20px 4px rgb(153, 51, 204, 0.4);
                            border-radius: 50%;
                            transform: scale(1.1);
                        }
                    }
                }
                &__sub-title {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .footer-nav._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }
}
