.header {
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 50;
    &::before {
        content: "";
        background-color: #ffffff;
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.header__container {
    position: relative;
    z-index: 2;
}
.header__nav {
}
.nav {
    &__block {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 24px;
        color: inherit;
        font-weight: 600;
        border: 2px solid #93c;
        padding: 10px;
        border-radius: 50%;
        transition: all ease 0.3s;
        &:hover {
            color: #93c;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 1 500px;
    }
    &__item {
    }
    .item {
        &__link {
            color: inherit;
            font-size: 20px;
            font-weight: 500;
            transition: all ease 0.3s;
            &:hover {
                color: #93c;
            }
        }
    }
}
