.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    &::before {
        content: "";
        background-color: #ffffff;
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.header__container {
    position: relative;
    z-index: 2;
    .header-nav_left {
        position: fixed;
        bottom: 0;
        right: 40px;
        transform: translate(120%, 0px);
        opacity: 0;
        transition: all ease 0.6s 0.4s;
        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            &::after {
                content: "";
                width: 2px;
                height: 140px;
                background-color: rgb(153, 51, 204, 0.8);
            }
        }
        &__item {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                padding: 8px;
                color: #ffffff;
                border-radius: 50%;
                background-color: rgb(153, 51, 204, 0.8);
            }
            &:hover {
                background-color: rgb(153, 51, 204, 1);
                box-shadow: 0 0 20px 4px rgb(153, 51, 204, 0.4);
                border-radius: 50%;
            }
        }
    }
    .header-nav_left._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
.header__nav {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all ease 0.6s;
}
.header__nav._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
.nav {
    &__block {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 24px;
        color: inherit;
        font-weight: 600;
        border: 2px solid #93c;
        padding: 10px;
        border-radius: 50%;
        transition: all ease 0.3s;
        &:hover {
            color: #93c;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 1 500px;
    }
    &__item {
    }
    .item {
        &__link {
            color: inherit;
            font-size: 20px;
            font-weight: 500;
            transition: all ease 0.3s;
            &:hover {
                color: #93c;
            }
        }
    }
}
