//<Подключаем шрифты>=======================================================
@import "fonts";
//<Подключаем шрифты>=======================================================

//<Подключаем МИКСИНЫ>=======================================================
@import "_mixins";
//<Подключаем МИКСИНЫ>=======================================================

//<Подключаем исконочные шрифты>=======================================================
// @import "icons";
//<Подключаем исконочные шрифты>=======================================================

//<Подключаем стили для спойлеров>=======================================================
// @import "_spollers";
//<Подключаем стили для спойлеров>=======================================================

//<Шрифт по умолчанию>=======================================================
$fontFamily: "Montserrat"; //"Название шрифта"
$fontSize: 16;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
//<Шрифт по умолчанию>=======================================================

//<ПЕРЕМЕННЫЕ>=======================================================
$minWidth: 320px;
$maxWidth: 1440; // максимальная ширина контента
$maxWidthContainer: 1270; // ширина ограничивающего контейнера: 1240 + 15 + 15 (15 - отступы безопасности слева и справа)
$md1: $maxWidthContainer + 12;
$md2: 991.78;
$md3: 767.98;
$md4: 479.98;

$mainColorText: #000000;
$mainBackgroundColor: #fdfdfd;
//<ПЕРЕМЕННЫЕ>=======================================================

//<Обнуление стилей>=======================================================
@import "_nullstyle";
body {
    color: $mainColorText;
    background-color: $mainBackgroundColor;
    font-family: $fontFamily;
    font-size: 16px;
}
//<Обнуление стилей>=======================================================

//<ОБОЛОЧКА>=======================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
//<ОБОЛОЧКА>=======================================================

//<ОСНОВНАЯ СЕТКА>=======================================================
[class*="__container"] {
    max-width: ($maxWidthContainer + px);
    margin: 0 auto;
    padding: 0px 15px;
    // @media (max-width: ($md1+px)) {
    //     max-width: 970px;
    // };
    // @media (max-width: ($md2+px)) {
    //     max-width: 750px;
    // };
    // @media (max-width: ($md3+px)) {
    //     max-width: none;
    //     padding: 0 10px;
    // };
}
//<ОСНОВНАЯ СЕТКА>=======================================================

//<Подключаем стили для header>=======================================================
@import "_header";
//<Подключаем стили для header>=======================================================

//<Подключаем стили для main>=======================================================
@import "_main";
//<Подключаем стили для main>=======================================================

//<Подключаем стили для home>=======================================================
@import "_home";
//<Подключаем стили для home>=======================================================

//<Подключаем стили для about>=======================================================
@import "_about";
//<Подключаем стили для about>=======================================================

//<Подключаем стили для experience>=======================================================
@import "_experience";
//<Подключаем стили для experience>=======================================================

//<Подключаем стили для portfolio>=======================================================
@import "_portfolio";
//<Подключаем стили для portfolio>=======================================================

//<Подключаем стили для portfolio>=======================================================
@import "_portfolio";
//<Подключаем стили для portfolio>=======================================================

//<Подключаем стили для contact>=======================================================
@import "_contact";
//<Подключаем стили для contact>=======================================================

//<Подключаем стили для footer>=======================================================
@import "_footer";
//<Подключаем стили для footer>=======================================================


//<Свойства для заголовка>=======================================================
.title-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 600;
    margin: 0 0 40px 0;
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: rgb(153, 51, 204, 0.6);
    }
    &::before {
        content: "";
        display: block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-right: 20px;
        background-color: rgb(153, 51, 204, 0.6);
    }
}
